### 날짜별 확진자수 최종 데이터프레임 읽기

In [1]:
import pandas as pd

df_confirmed = pd.read_csv('ex_datafile/COVID-19-master/final_df.csv')
df_confirmed

,Country_Region,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,1/03/2023,...,12/28/2022,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022
0,Afghanistan,52513,158107,207616,52586,158189,207627,52709,158183,207654,...,207493,52147,158037,207511,52330,158056,207550,52330,158084,207559
1,Albania,58316,210224,333811,58991,210885,333812,59438,210885,333812,...,333776,57146,208899,333776,57727,208899,333806,58316,210224,333806
2,Algeria,99897,218818,271229,100159,219159,271229,100408,219532,271230,...,271208,98988,217647,271217,99311,218037,271223,99610,218432,271228
3,Andorra,8117,23740,47751,8166,23740,47751,8192,24502,47751,...,47751,7919,22823,47751,7983,23122,47751,8049,23740,47751
4,Angola,17568,82398,105095,17608,82920,105095,17642,83764,105095,...,105095,17371,78475,105095,17433,79871,105095,17553,81593,105095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,139223,469748,703228,140287,469748,703228,141219,469748,703228,...,703228,135459,469748,703228,136736,469748,703228,138004,469748,703228
197,Winter Olympics 2022,0,0,535,0,0,535,0,0,535,...,535,0,0,535,0,0,535,0,0,535
198,Yemen,2101,10127,11945,2101,10130,11945,2101,10138,11945,...,11945,2096,10125,11945,2097,10126,11945,2099,10126,11945
199,Zambia,20997,257948,334629,21230,259677,334661,21582,261221,334695,...,334196,20177,243638,334294,20462,249193,334425,20725,254274,334425
200,Zimbabwe,14084,214214,259981,14491,214214,259981,15265,216087,259981,...,259981,13325,207548,259981,13625,211728,259981,13867,213258,259981

In [2]:
df_confirmed.shape

(201, 1144)

### 국가명과 iso2 매칭 테이블 읽기(country_info)
- iso2 컬럼값으로 https://www.countryflags.com/ 에서 제공하는 국기 이미지 링크를 얻을 수 있다.
- keep_default_na = False : 디폴트 결측치 변환 데이터를 사용하지 않고, na_values로 지정한 데이터만 결측치로 변환
- na_values='' : 결측치로 변환할 값을 지정

In [3]:
country_info = pd.read_csv('ex_datafile/COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv', encoding='utf-8',
                           keep_default_na = False, na_values = '')
country_info

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2877800.0
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,43851043.0
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4316,84056037,US,USA,840.0,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",42343.0
4317,84056039,US,USA,840.0,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464.0
4318,84056041,US,USA,840.0,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226.0
4319,84056043,US,USA,840.0,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805.0
4320,84056045,US,USA,840.0,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927.0

In [4]:
country_info[country_info['Country_Region'] == 'Namibia' ]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
445,516,NA,NAM,516.0,NaN,NaN,NaN,Namibia,-22.9576,18.4904,Namibia,2540916.0

In [5]:
country_info = country_info[['iso2', 'Country_Region']]
country_info

     iso2 Country_Region
0      AF    Afghanistan
1      AL        Albania
2      AQ     Antarctica
3      DZ        Algeria
4      AD        Andorra
...   ...            ...
4316   US             US
4317   US             US
4318   US             US
4319   US             US
4320   US             US

[4321 rows x 2 columns]

In [6]:
country_info.shape

(4321, 2)

In [7]:
country_info = country_info.drop_duplicates(subset='Country_Region', keep='last')
country_info.shape

(202, 2)

In [8]:
country_info

     iso2 Country_Region
0      AF    Afghanistan
1      AL        Albania
2      AQ     Antarctica
3      DZ        Algeria
4      AD        Andorra
...   ...            ...
853    ZW       Zimbabwe
862    AU      Australia
879    CA         Canada
914    MO          China
4320   US             US

[202 rows x 2 columns]

#### 날짜, 국가별 확진자수와 국가별 iso2 값 병합

In [9]:
final_data = pd.merge(df_confirmed, country_info, how = 'left', on = 'Country_Region')
final_data

,Country_Region,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,1/03/2023,...,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022,iso2
0,Afghanistan,52513,158107,207616,52586,158189,207627,52709,158183,207654,...,52147,158037,207511,52330,158056,207550,52330,158084,207559,AF
1,Albania,58316,210224,333811,58991,210885,333812,59438,210885,333812,...,57146,208899,333776,57727,208899,333806,58316,210224,333806,AL
2,Algeria,99897,218818,271229,100159,219159,271229,100408,219532,271230,...,98988,217647,271217,99311,218037,271223,99610,218432,271228,DZ
3,Andorra,8117,23740,47751,8166,23740,47751,8192,24502,47751,...,7919,22823,47751,7983,23122,47751,8049,23740,47751,AD
4,Angola,17568,82398,105095,17608,82920,105095,17642,83764,105095,...,17371,78475,105095,17433,79871,105095,17553,81593,105095,AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,139223,469748,703228,140287,469748,703228,141219,469748,703228,...,135459,469748,703228,136736,469748,703228,138004,469748,703228,PS
197,Winter Olympics 2022,0,0,535,0,0,535,0,0,535,...,0,0,535,0,0,535,0,0,535,NaN
198,Yemen,2101,10127,11945,2101,10130,11945,2101,10138,11945,...,2096,10125,11945,2097,10126,11945,2099,10126,11945,YE
199,Zambia,20997,257948,334629,21230,259677,334661,21582,261221,334695,...,20177,243638,334294,20462,249193,334425,20725,254274,334425,ZM
200,Zimbabwe,14084,214214,259981,14491,214214,259981,15265,216087,259981,...,13325,207548,259981,13625,211728,259981,13867,213258,259981,ZW

In [10]:
final_data.shape

(201, 1145)

#### NaN 확인하기

In [11]:
final_data.isnull().sum()

Country_Region    0
1/01/2021         0
1/01/2022         0
1/01/2023         0
1/02/2021         0
                 ..
12/30/2022        0
12/31/2020        0
12/31/2021        0
12/31/2022        0
iso2              7
Length: 1145, dtype: int64

#### 특정 컬럼에 없는 데이터(NaN)가 있는 경우, 해당 행만 보기
- 특정 컬럼 조건에 맞는 행들만 추출 가능
    - DataFrame[DataFrame['컬럼명'] 조건]<br>
    ex) df[df['a']==1]

In [12]:
final_data[final_data['iso2'].isnull()]

,Country_Region,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,1/03/2023,...,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022,iso2
45,Cruise Ship,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
50,Diamond Princess,712,712,712,712,712,712,712,712,712,...,712,712,712,712,712,712,712,712,712,NaN
108,MS Zaandam,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,NaN
136,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
170,Summer Olympics 2020,0,865,865,0,865,865,0,865,865,...,0,865,865,0,865,865,0,865,865,NaN
175,Taiwan,802,17050,8872746,808,17070,8889346,812,17095,8914351,...,795,16964,8794212,797,16988,8821620,799,17029,8847360,NaN
197,Winter Olympics 2022,0,0,535,0,0,535,0,0,535,...,0,0,535,0,0,535,0,0,535,NaN

#### 복합 조건은
- df[(조건) & (조건2)] : and
- df[(조건) | (조건2)] : or

In [13]:
# 복합 조건 예시
test = final_data[(final_data['iso2'].isnull()) & (final_data['1/01/2021'] > 0)]
test

,Country_Region,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,1/03/2023,...,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022,iso2
50,Diamond Princess,712,712,712,712,712,712,712,712,712,...,712,712,712,712,712,712,712,712,712,NaN
108,MS Zaandam,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,NaN
175,Taiwan,802,17050,8872746,808,17070,8889346,812,17095,8914351,...,795,16964,8794212,797,16988,8821620,799,17029,8847360,NaN

#### 특정 컬럼에 없는 데이터 삭제

In [14]:
final_data = final_data.dropna(subset=['iso2'])
final_data.shape

(194, 1145)

In [15]:
final_data[final_data['iso2'].isnull()]

Empty DataFrame
Columns: [Country_Region, 1/01/2021, 1/01/2022, 1/01/2023, 1/02/2021, 1/02/2022, 1/02/2023, 1/03/2021, 1/03/2022, 1/03/2023, 1/04/2021, 1/04/2022, 1/04/2023, 1/05/2021, 1/05/2022, 1/05/2023, 1/06/2021, 1/06/2022, 1/06/2023, 1/07/2021, 1/07/2022, 1/07/2023, 1/08/2021, 1/08/2022, 1/08/2023, 1/09/2021, 1/09/2022, 1/09/2023, 1/10/2021, 1/10/2022, 1/10/2023, 1/11/2021, 1/11/2022, 1/11/2023, 1/12/2021, 1/12/2022, 1/12/2023, 1/13/2021, 1/13/2022, 1/13/2023, 1/14/2021, 1/14/2022, 1/14/2023, 1/15/2021, 1/15/2022, 1/15/2023, 1/16/2021, 1/16/2022, 1/16/2023, 1/17/2021, 1/17/2022, 1/17/2023, 1/18/2021, 1/18/2022, 1/18/2023, 1/19/2021, 1/19/2022, 1/19/2023, 1/20/2021, 1/20/2022, 1/20/2023, 1/21/2021, 1/21/2022, 1/21/2023, 1/22/2020, 1/22/2021, 1/22/2022, 1/22/2023, 1/23/2020, 1/23/2021, 1/23/2022, 1/23/2023, 1/24/2020, 1/24/2021, 1/24/2022, 1/24/2023, 1/25/2020, 1/25/2021, 1/25/2022, 1/25/2023, 1/26/2020, 1/26/2021, 1/26/2022, 1/26/2023, 1/27/2020, 1/27/2021, 1/27/2022, 1/27/2023, 1/28/2020, 1/28/2021, 1/28/2022, 1/28/2023, 1/29/2020, 1/29/2021, 1/29/2022, 1/29/2023, 1/30/2020, 1/30/2021, 1/30/2022, 1/30/2023, ...]
Index: []

[0 rows x 1145 columns]

#### 국기 링크를 기존 컬럼 기반해서 만들어, 데이터프레임에 붙이기

In [16]:
iso2= 'AD'
flag_link = 'https://flagcdn.com/48x36/' + iso2 + '.png'
flag_link

'https://flagcdn.com/48x36/AD.png'

In [17]:
(iso2.lower())

'ad'

#### 참고: 데이터프레임에 신규 컬럼 추가하기
- 데이터 프레임에 신규 컬럼 추가하기
  - 데이터프레임[신규컬럼] = pd.Series(data=데이터)
    - 데이터는 행에 맞게, [0, 1, 2] 와 같은 형태로 넣을 수 있음
- 기존 데이터프레임 컬럼 값을 기반으로 신규 컬럼 추가하기
  - apply() 함수를 사용
  - 다음 create_flag_link 함수 적용 전에, 아래의 함수로 어떤 값이 인자로 들어오는지 확인해보기 

    ```
    def create_flag_link(row):
        flag_link = 'https://flagcdn.com/48x36/' + row + '.png'
        return flag_link
        
    doc_final_country['Country_Flag'] = doc_final_country['iso2'].apply(create_flag_link)
    ```

In [18]:
def link(row):
    flag_link = 'https://flagcdn.com/48x36/' + row.lower() + '.png'
    return flag_link

final_data['iso2'] = final_data['iso2'].apply(link)

C:\Users\Jik\AppData\Local\Temp\ipykernel_13868\3318315454.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['iso2'] = final_data['iso2'].apply(link)

In [19]:
final_data.head()

,Country_Region,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,1/03/2023,...,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022,iso2
0,Afghanistan,52513,158107,207616,52586,158189,207627,52709,158183,207654,...,52147,158037,207511,52330,158056,207550,52330,158084,207559,https://flagcdn.com/48x36/af.png
1,Albania,58316,210224,333811,58991,210885,333812,59438,210885,333812,...,57146,208899,333776,57727,208899,333806,58316,210224,333806,https://flagcdn.com/48x36/al.png
2,Algeria,99897,218818,271229,100159,219159,271229,100408,219532,271230,...,98988,217647,271217,99311,218037,271223,99610,218432,271228,https://flagcdn.com/48x36/dz.png
3,Andorra,8117,23740,47751,8166,23740,47751,8192,24502,47751,...,7919,22823,47751,7983,23122,47751,8049,23740,47751,https://flagcdn.com/48x36/ad.png
4,Angola,17568,82398,105095,17608,82920,105095,17642,83764,105095,...,17371,78475,105095,17433,79871,105095,17553,81593,105095,https://flagcdn.com/48x36/ao.png

#### 데이터프레임 컬럼 조정하기

In [20]:
cols = final_data.columns.tolist()
cols

['Country_Region',
 '1/01/2021',
 '1/01/2022',
 '1/01/2023',
 '1/02/2021',
 '1/02/2022',
 '1/02/2023',
 '1/03/2021',
 '1/03/2022',
 '1/03/2023',
 '1/04/2021',
 '1/04/2022',
 '1/04/2023',
 '1/05/2021',
 '1/05/2022',
 '1/05/2023',
 '1/06/2021',
 '1/06/2022',
 '1/06/2023',
 '1/07/2021',
 '1/07/2022',
 '1/07/2023',
 '1/08/2021',
 '1/08/2022',
 '1/08/2023',
 '1/09/2021',
 '1/09/2022',
 '1/09/2023',
 '1/10/2021',
 '1/10/2022',
 '1/10/2023',
 '1/11/2021',
 '1/11/2022',
 '1/11/2023',
 '1/12/2021',
 '1/12/2022',
 '1/12/2023',
 '1/13/2021',
 '1/13/2022',
 '1/13/2023',
 '1/14/2021',
 '1/14/2022',
 '1/14/2023',
 '1/15/2021',
 '1/15/2022',
 '1/15/2023',
 '1/16/2021',
 '1/16/2022',
 '1/16/2023',
 '1/17/2021',
 '1/17/2022',
 '1/17/2023',
 '1/18/2021',
 '1/18/2022',
 '1/18/2023',
 '1/19/2021',
 '1/19/2022',
 '1/19/2023',
 '1/20/2021',
 '1/20/2022',
 '1/20/2023',
 '1/21/2021',
 '1/21/2022',
 '1/21/2023',
 '1/22/2020',
 '1/22/2021',
 '1/22/2022',
 '1/22/2023',
 '1/23/2020',
 '1/23/2021',
 '1/23/2022',
 '1/23/2023',
 '1/24/2020',
 '1/24/2021',
 '1/24/2022',
 '1/24/2023',
 '1/25/2020',
 '1/25/2021',
 '1/25/2022',
 '1/25/2023',
 '1/26/2020',
 '1/26/2021',
 '1/26/2022',
 '1/26/2023',
 '1/27/2020',
 '1/27/2021',
 '1/27/2022',
 '1/27/2023',
 '1/28/2020',
 '1/28/2021',
 '1/28/2022',
 '1/28/2023',
 '1/29/2020',
 '1/29/2021',
 '1/29/2022',
 '1/29/2023',
 '1/30/2020',
 '1/30/2021',
 '1/30/2022',
 '1/30/2023',
 '1/31/2020',
 '1/31/2021',
 '1/31/2022',
 '1/31/2023',
 '2/01/2020',
 '2/01/2021',
 '2/01/2022',
 '2/01/2023',
 '2/02/2020',
 '2/02/2021',
 '2/02/2022',
 '2/02/2023',
 '2/03/2020',
 '2/03/2021',
 '2/03/2022',
 '2/03/2023',
 '2/04/2020',
 '2/04/2021',
 '2/04/2022',
 '2/04/2023',
 '2/05/2020',
 '2/05/2021',
 '2/05/2022',
 '2/05/2023',
 '2/06/2020',
 '2/06/2021',
 '2/06/2022',
 '2/06/2023',
 '2/07/2020',
 '2/07/2021',
 '2/07/2022',
 '2/07/2023',
 '2/08/2020',
 '2/08/2021',
 '2/08/2022',
 '2/08/2023',
 '2/09/2020',
 '2/09/2021',
 '2/09/2022',
 '2/09/2023',
 '2/10/2020',
 '2/10/2021',
 '2/10/2022',
 '2/10/2023',
 '2/11/2020',
 '2/11/2021',
 '2/11/2022',
 '2/11/2023',
 '2/12/2020',
 '2/12/2021',
 '2/12/2022',
 '2/12/2023',
 '2/13/2020',
 '2/13/2021',
 '2/13/2022',
 '2/13/2023',
 '2/14/2020',
 '2/14/2021',
 '2/14/2022',
 '2/14/2023',
 '2/15/2020',
 '2/15/2021',
 '2/15/2022',
 '2/15/2023',
 '2/16/2020',
 '2/16/2021',
 '2/16/2022',
 '2/16/2023',
 '2/17/2020',
 '2/17/2021',
 '2/17/2022',
 '2/17/2023',
 '2/18/2020',
 '2/18/2021',
 '2/18/2022',
 '2/18/2023',
 '2/19/2020',
 '2/19/2021',
 '2/19/2022',
 '2/19/2023',
 '2/20/2020',
 '2/20/2021',
 '2/20/2022',
 '2/20/2023',
 '2/21/2020',
 '2/21/2021',
 '2/21/2022',
 '2/21/2023',
 '2/22/2020',
 '2/22/2021',
 '2/22/2022',
 '2/22/2023',
 '2/23/2020',
 '2/23/2021',
 '2/23/2022',
 '2/23/2023',
 '2/24/2020',
 '2/24/2021',
 '2/24/2022',
 '2/24/2023',
 '2/25/2020',
 '2/25/2021',
 '2/25/2022',
 '2/25/2023',
 '2/26/2020',
 '2/26/2021',
 '2/26/2022',
 '2/26/2023',
 '2/27/2020',
 '2/27/2021',
 '2/27/2022',
 '2/27/2023',
 '2/28/2020',
 '2/28/2021',
 '2/28/2022',
 '2/28/2023',
 '2/29/2020',
 '3/01/2020',
 '3/01/2021',
 '3/01/2022',
 '3/01/2023',
 '3/02/2020',
 '3/02/2021',
 '3/02/2022',
 '3/02/2023',
 '3/03/2020',
 '3/03/2021',
 '3/03/2022',
 '3/03/2023',
 '3/04/2020',
 '3/04/2021',
 '3/04/2022',
 '3/04/2023',
 '3/05/2020',
 '3/05/2021',
 '3/05/2022',
 '3/05/2023',
 '3/06/2020',
 '3/06/2021',
 '3/06/2022',
 '3/06/2023',
 '3/07/2020',
 '3/07/2021',
 '3/07/2022',
 '3/07/2023',
 '3/08/2020',
 '3/08/2021',
 '3/08/2022',
 '3/08/2023',
 '3/09/2020',
 '3/09/2021',
 '3/09/2022',
 '3/09/2023',
 '3/10/2020',
 '3/10/2021',
 '3/10/2022',
 '3/11/2020',
 '3/11/2021',
 '3/11/2022',
 '3/12/2020',
 '3/12/2021',
 '3/12/2022',
 '3/13/2020',
 '3/13/2021',
 '3/13/2022',
 '3/14/2020',
 '3/14/2021',
 '3/14/2022',
 '3/15/2020',
 '3/15/2021',
 '3/15/2022',
 '3/16/2020',
 '3/16/2021',
 '3/16/2022',
 '3/17/2020',
 '3/17/2021',
 '3/17/2022',
 '3/18/2020',
 '3/18/2021',
 '3/18/2022',
 '3/19/2020',
 '3/19/2021',
 '3/19/2022',
 '3/20/2020',
 '3/20/2021',
 '3/20/2022',
 '3/21/2020',
 '3/21/2021',
 '3/21/2022',
 '3/22/2020',
 '3/22/2021',
 '3/22/2022',
 '3/23/2020',
 '3/23/2021',
 '3/23/2022',
 '3/24/2020',
 '3/24/2021',
 '3/24/2022',
 '3/25/2020',
 '3/25/2021',
 '3/25/2022',
 '3/26/2020',
 '3/26/2021',
 '3/26/2022',
 '3/27/2020',
 '3/27/2021',
 '3/27/2022',
 '3/28/2020',
 '3/28/2021',
 '3/28/2022',
 '3/29/2020',
 '3/29/2021',
 '3/29/2022',
 '3/30/2020',
 '3/30/2021',
 '3/30/2022',
 '3/31/2020',
 '3/31/2021',
 '3/31/2022',
 '4/01/2020',
 '4/01/2021',
 '4/01/2022',
 '4/02/2020',
 '4/02/2021',
 '4/02/2022',
 '4/03/2020',
 '4/03/2021',
 '4/03/2022',
 '4/04/2020',
 '4/04/2021',
 '4/04/2022',
 '4/05/2020',
 '4/05/2021',
 '4/05/2022',
 '4/06/2020',
 '4/06/2021',
 '4/06/2022',
 '4/07/2020',
 '4/07/2021',
 '4/07/2022',
 '4/08/2020',
 '4/08/2021',
 '4/08/2022',
 '4/09/2020',
 '4/09/2021',
 '4/09/2022',
 '4/10/2020',
 '4/10/2021',
 '4/10/2022',
 '4/11/2020',
 '4/11/2021',
 '4/11/2022',
 '4/12/2020',
 '4/12/2021',
 '4/12/2022',
 '4/13/2020',
 '4/13/2021',
 '4/13/2022',
 '4/14/2020',
 '4/14/2021',
 '4/14/2022',
 '4/15/2020',
 '4/15/2021',
 '4/15/2022',
 '4/16/2020',
 '4/16/2021',
 '4/16/2022',
 '4/17/2020',
 '4/17/2021',
 '4/17/2022',
 '4/18/2020',
 '4/18/2021',
 '4/18/2022',
 '4/19/2020',
 '4/19/2021',
 '4/19/2022',
 '4/20/2020',
 '4/20/2021',
 '4/20/2022',
 '4/21/2020',
 '4/21/2021',
 '4/21/2022',
 '4/22/2020',
 '4/22/2021',
 '4/22/2022',
 '4/23/2020',
 '4/23/2021',
 '4/23/2022',
 '4/24/2020',
 '4/24/2021',
 '4/24/2022',
 '4/25/2020',
 '4/25/2021',
 '4/25/2022',
 '4/26/2020',
 '4/26/2021',
 '4/26/2022',
 '4/27/2020',
 '4/27/2021',
 '4/27/2022',
 '4/28/2020',
 '4/28/2021',
 '4/28/2022',
 '4/29/2020',
 '4/29/2021',
 '4/29/2022',
 '4/30/2020',
 '4/30/2021',
 '4/30/2022',
 '5/01/2020',
 '5/01/2021',
 '5/01/2022',
 '5/02/2020',
 '5/02/2021',
 '5/02/2022',
 '5/03/2020',
 '5/03/2021',
 '5/03/2022',
 '5/04/2020',
 '5/04/2021',
 '5/04/2022',
 '5/05/2020',
 '5/05/2021',
 '5/05/2022',
 '5/06/2020',
 '5/06/2021',
 '5/06/2022',
 '5/07/2020',
 '5/07/2021',
 '5/07/2022',
 '5/08/2020',
 '5/08/2021',
 '5/08/2022',
 '5/09/2020',
 '5/09/2021',
 '5/09/2022',
 '5/10/2020',
 '5/10/2021',
 '5/10/2022',
 '5/11/2020',
 '5/11/2021',
 '5/11/2022',
 '5/12/2020',
 '5/12/2021',
 '5/12/2022',
 '5/13/2020',
 '5/13/2021',
 '5/13/2022',
 '5/14/2020',
 '5/14/2021',
 '5/14/2022',
 '5/15/2020',
 '5/15/2021',
 '5/15/2022',
 '5/16/2020',
 '5/16/2021',
 '5/16/2022',
 '5/17/2020',
 '5/17/2021',
 '5/17/2022',
 '5/18/2020',
 '5/18/2021',
 '5/18/2022',
 '5/19/2020',
 '5/19/2021',
 '5/19/2022',
 '5/20/2020',
 '5/20/2021',
 '5/20/2022',
 '5/21/2020',
 '5/21/2021',
 '5/21/2022',
 '5/22/2020',
 '5/22/2021',
 '5/22/2022',
 '5/23/2020',
 '5/23/2021',
 '5/23/2022',
 '5/24/2020',
 '5/24/2021',
 '5/24/2022',
 '5/25/2020',
 '5/25/2021',
 '5/25/2022',
 '5/26/2020',
 '5/26/2021',
 '5/26/2022',
 '5/27/2020',
 '5/27/2021',
 '5/27/2022',
 '5/28/2020',
 '5/28/2021',
 '5/28/2022',
 '5/29/2020',
 '5/29/2021',
 '5/29/2022',
 '5/30/2020',
 '5/30/2021',
 '5/30/2022',
 '5/31/2020',
 '5/31/2021',
 '5/31/2022',
 '6/01/2020',
 '6/01/2021',
 '6/01/2022',
 '6/02/2020',
 '6/02/2021',
 '6/02/2022',
 '6/03/2020',
 '6/03/2021',
 '6/03/2022',
 '6/04/2020',
 '6/04/2021',
 '6/04/2022',
 '6/05/2020',
 '6/05/2021',
 '6/05/2022',
 '6/06/2020',
 '6/06/2021',
 '6/06/2022',
 '6/07/2020',
 '6/07/2021',
 '6/07/2022',
 '6/08/2020',
 '6/08/2021',
 '6/08/2022',
 '6/09/2020',
 '6/09/2021',
 '6/09/2022',
 '6/10/2020',
 '6/10/2021',
 '6/10/2022',
 '6/11/2020',
 '6/11/2021',
 '6/11/2022',
 '6/12/2020',
 '6/12/2021',
 '6/12/2022',
 '6/13/2020',
 '6/13/2021',
 '6/13/2022',
 '6/14/2020',
 '6/14/2021',
 '6/14/2022',
 '6/15/2020',
 '6/15/2021',
 '6/15/2022',
 '6/16/2020',
 '6/16/2021',
 '6/16/2022',
 '6/17/2020',
 '6/17/2021',
 '6/17/2022',
 '6/18/2020',
 '6/18/2021',
 '6/18/2022',
 '6/19/2020',
 '6/19/2021',
 '6/19/2022',
 '6/20/2020',
 '6/20/2021',
 '6/20/2022',
 '6/21/2020',
 '6/21/2021',
 '6/21/2022',
 '6/22/2020',
 '6/22/2021',
 '6/22/2022',
 '6/23/2020',
 '6/23/2021',
 '6/23/2022',
 '6/24/2020',
 '6/24/2021',
 '6/24/2022',
 '6/25/2020',
 '6/25/2021',
 '6/25/2022',
 '6/26/2020',
 '6/26/2021',
 '6/26/2022',
 '6/27/2020',
 '6/27/2021',
 '6/27/2022',
 '6/28/2020',
 '6/28/2021',
 '6/28/2022',
 '6/29/2020',
 '6/29/2021',
 '6/29/2022',
 '6/30/2020',
 '6/30/2021',
 '6/30/2022',
 '7/01/2020',
 '7/01/2021',
 '7/01/2022',
 '7/02/2020',
 '7/02/2021',
 '7/02/2022',
 '7/03/2020',
 '7/03/2021',
 '7/03/2022',
 '7/04/2020',
 '7/04/2021',
 '7/04/2022',
 '7/05/2020',
 '7/05/2021',
 '7/05/2022',
 '7/06/2020',
 '7/06/2021',
 '7/06/2022',
 '7/07/2020',
 '7/07/2021',
 '7/07/2022',
 '7/08/2020',
 '7/08/2021',
 '7/08/2022',
 '7/09/2020',
 '7/09/2021',
 '7/09/2022',
 '7/10/2020',
 '7/10/2021',
 '7/10/2022',
 '7/11/2020',
 '7/11/2021',
 '7/11/2022',
 '7/12/2020',
 '7/12/2021',
 '7/12/2022',
 '7/13/2020',
 '7/13/2021',
 '7/13/2022',
 '7/14/2020',
 '7/14/2021',
 '7/14/2022',
 '7/15/2020',
 '7/15/2021',
 '7/15/2022',
 '7/16/2020',
 '7/16/2021',
 '7/16/2022',
 '7/17/2020',
 '7/17/2021',
 '7/17/2022',
 '7/18/2020',
 '7/18/2021',
 '7/18/2022',
 '7/19/2020',
 '7/19/2021',
 '7/19/2022',
 '7/20/2020',
 '7/20/2021',
 '7/20/2022',
 '7/21/2020',
 '7/21/2021',
 '7/21/2022',
 '7/22/2020',
 '7/22/2021',
 '7/22/2022',
 '7/23/2020',
 '7/23/2021',
 '7/23/2022',
 '7/24/2020',
 '7/24/2021',
 '7/24/2022',
 '7/25/2020',
 '7/25/2021',
 '7/25/2022',
 '7/26/2020',
 '7/26/2021',
 '7/26/2022',
 '7/27/2020',
 '7/27/2021',
 '7/27/2022',
 '7/28/2020',
 '7/28/2021',
 '7/28/2022',
 '7/29/2020',
 '7/29/2021',
 '7/29/2022',
 '7/30/2020',
 '7/30/2021',
 '7/30/2022',
 '7/31/2020',
 '7/31/2021',
 '7/31/2022',
 '8/01/2020',
 '8/01/2021',
 '8/01/2022',
 '8/02/2020',
 '8/02/2021',
 '8/02/2022',
 '8/03/2020',
 '8/03/2021',
 '8/03/2022',
 '8/04/2020',
 '8/04/2021',
 '8/04/2022',
 '8/05/2020',
 '8/05/2021',
 '8/05/2022',
 '8/06/2020',
 '8/06/2021',
 '8/06/2022',
 '8/07/2020',
 '8/07/2021',
 '8/07/2022',
 '8/08/2020',
 '8/08/2021',
 '8/08/2022',
 '8/09/2020',
 '8/09/2021',
 '8/09/2022',
 '8/10/2020',
 '8/10/2021',
 '8/10/2022',
 '8/11/2020',
 '8/11/2021',
 '8/11/2022',
 '8/12/2020',
 '8/12/2021',
 '8/12/2022',
 '8/13/2020',
 '8/13/2021',
 '8/13/2022',
 '8/14/2020',
 '8/14/2021',
 '8/14/2022',
 '8/15/2020',
 '8/15/2021',
 '8/15/2022',
 '8/16/2020',
 '8/16/2021',
 '8/16/2022',
 '8/17/2020',
 '8/17/2021',
 '8/17/2022',
 '8/18/2020',
 '8/18/2021',
 '8/18/2022',
 '8/19/2020',
 '8/19/2021',
 '8/19/2022',
 '8/20/2020',
 '8/20/2021',
 '8/20/2022',
 '8/21/2020',
 '8/21/2021',
 '8/21/2022',
 '8/22/2020',
 '8/22/2021',
 '8/22/2022',
 '8/23/2020',
 '8/23/2021',
 '8/23/2022',
 '8/24/2020',
 '8/24/2021',
 '8/24/2022',
 '8/25/2020',
 '8/25/2021',
 '8/25/2022',
 '8/26/2020',
 '8/26/2021',
 '8/26/2022',
 '8/27/2020',
 '8/27/2021',
 '8/27/2022',
 '8/28/2020',
 '8/28/2021',
 '8/28/2022',
 '8/29/2020',
 '8/29/2021',
 '8/29/2022',
 '8/30/2020',
 '8/30/2021',
 '8/30/2022',
 '8/31/2020',
 '8/31/2021',
 '8/31/2022',
 '9/01/2020',
 '9/01/2021',
 '9/01/2022',
 '9/02/2020',
 '9/02/2021',
 '9/02/2022',
 '9/03/2020',
 '9/03/2021',
 '9/03/2022',
 '9/04/2020',
 '9/04/2021',
 '9/04/2022',
 '9/05/2020',
 '9/05/2021',
 '9/05/2022',
 '9/06/2020',
 '9/06/2021',
 '9/06/2022',
 '9/07/2020',
 '9/07/2021',
 '9/07/2022',
 '9/08/2020',
 '9/08/2021',
 '9/08/2022',
 '9/09/2020',
 '9/09/2021',
 '9/09/2022',
 '9/10/2020',
 '9/10/2021',
 '9/10/2022',
 '9/11/2020',
 '9/11/2021',
 '9/11/2022',
 '9/12/2020',
 '9/12/2021',
 '9/12/2022',
 '9/13/2020',
 '9/13/2021',
 '9/13/2022',
 '9/14/2020',
 '9/14/2021',
 '9/14/2022',
 '9/15/2020',
 '9/15/2021',
 '9/15/2022',
 '9/16/2020',
 '9/16/2021',
 '9/16/2022',
 '9/17/2020',
 '9/17/2021',
 '9/17/2022',
 '9/18/2020',
 '9/18/2021',
 '9/18/2022',
 '9/19/2020',
 '9/19/2021',
 '9/19/2022',
 '9/20/2020',
 '9/20/2021',
 '9/20/2022',
 '9/21/2020',
 '9/21/2021',
 '9/21/2022',
 '9/22/2020',
 '9/22/2021',
 '9/22/2022',
 '9/23/2020',
 '9/23/2021',
 '9/23/2022',
 '9/24/2020',
 '9/24/2021',
 '9/24/2022',
 '9/25/2020',
 '9/25/2021',
 '9/25/2022',
 '9/26/2020',
 '9/26/2021',
 '9/26/2022',
 '9/27/2020',
 '9/27/2021',
 '9/27/2022',
 '9/28/2020',
 '9/28/2021',
 '9/28/2022',
 '9/29/2020',
 '9/29/2021',
 '9/29/2022',
 '9/30/2020',
 '9/30/2021',
 '9/30/2022',
 '10/01/2020',
 '10/01/2021',
 '10/01/2022',
 '10/02/2020',
 '10/02/2021',
 '10/02/2022',
 '10/03/2020',
 '10/03/2021',
 '10/03/2022',
 '10/04/2020',
 '10/04/2021',
 '10/04/2022',
 '10/05/2020',
 '10/05/2021',
 '10/05/2022',
 '10/06/2020',
 '10/06/2021',
 '10/06/2022',
 '10/07/2020',
 '10/07/2021',
 '10/07/2022',
 '10/08/2020',
 '10/08/2021',
 '10/08/2022',
 '10/09/2020',
 '10/09/2021',
 '10/09/2022',
 '10/10/2020',
 '10/10/2021',
 '10/10/2022',
 '10/11/2020',
 '10/11/2021',
 '10/11/2022',
 '10/12/2020',
 '10/12/2021',
 '10/12/2022',
 '10/13/2020',
 '10/13/2021',
 '10/13/2022',
 '10/14/2020',
 '10/14/2021',
 '10/14/2022',
 '10/15/2020',
 '10/15/2021',
 '10/15/2022',
 '10/16/2020',
 '10/16/2021',
 '10/16/2022',
 '10/17/2020',
 '10/17/2021',
 '10/17/2022',
 '10/18/2020',
 '10/18/2021',
 '10/18/2022',
 '10/19/2020',
 '10/19/2021',
 '10/19/2022',
 '10/20/2020',
 '10/20/2021',
 '10/20/2022',
 '10/21/2020',
 '10/21/2021',
 '10/21/2022',
 '10/22/2020',
 '10/22/2021',
 '10/22/2022',
 '10/23/2020',
 '10/23/2021',
 '10/23/2022',
 '10/24/2020',
 '10/24/2021',
 '10/24/2022',
 '10/25/2020',
 '10/25/2021',
 '10/25/2022',
 '10/26/2020',
 '10/26/2021',
 '10/26/2022',
 '10/27/2020',
 '10/27/2021',
 '10/27/2022',
 '10/28/2020',
 '10/28/2021',
 '10/28/2022',
 '10/29/2020',
 '10/29/2021',
 '10/29/2022',
 '10/30/2020',
 '10/30/2021',
 '10/30/2022',
 '10/31/2020',
 '10/31/2021',
 '10/31/2022',
 '11/01/2020',
 '11/01/2021',
 '11/01/2022',
 '11/02/2020',
 '11/02/2021',
 '11/02/2022',
 '11/03/2020',
 '11/03/2021',
 '11/03/2022',
 '11/04/2020',
 '11/04/2021',
 '11/04/2022',
 '11/05/2020',
 '11/05/2021',
 '11/05/2022',
 '11/06/2020',
 '11/06/2021',
 '11/06/2022',
 '11/07/2020',
 '11/07/2021',
 '11/07/2022',
 '11/08/2020',
 '11/08/2021',
 '11/08/2022',
 '11/09/2020',
 '11/09/2021',
 '11/09/2022',
 '11/10/2020',
 '11/10/2021',
 '11/10/2022',
 '11/11/2020',
 '11/11/2021',
 '11/11/2022',
 '11/12/2020',
 '11/12/2021',
 '11/12/2022',
 '11/13/2020',
 '11/13/2021',
 '11/13/2022',
 ...]

In [21]:
cols.remove('iso2')
cols.insert(1, 'iso2')

In [22]:
final_data = final_data[cols]

In [23]:
final_data

,Country_Region,iso2,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,...,12/28/2022,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022
0,Afghanistan,https://flagcdn.com/48x36/af.png,52513,158107,207616,52586,158189,207627,52709,158183,...,207493,52147,158037,207511,52330,158056,207550,52330,158084,207559
1,Albania,https://flagcdn.com/48x36/al.png,58316,210224,333811,58991,210885,333812,59438,210885,...,333776,57146,208899,333776,57727,208899,333806,58316,210224,333806
2,Algeria,https://flagcdn.com/48x36/dz.png,99897,218818,271229,100159,219159,271229,100408,219532,...,271208,98988,217647,271217,99311,218037,271223,99610,218432,271228
3,Andorra,https://flagcdn.com/48x36/ad.png,8117,23740,47751,8166,23740,47751,8192,24502,...,47751,7919,22823,47751,7983,23122,47751,8049,23740,47751
4,Angola,https://flagcdn.com/48x36/ao.png,17568,82398,105095,17608,82920,105095,17642,83764,...,105095,17371,78475,105095,17433,79871,105095,17553,81593,105095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Vietnam,https://flagcdn.com/48x36/vn.png,1474,1746092,11525284,1482,1763040,11525336,1494,1778976,...,11524779,1454,1694874,11525013,1456,1714742,11525144,1465,1731257,11525231
196,West Bank and Gaza,https://flagcdn.com/48x36/ps.png,139223,469748,703228,140287,469748,703228,141219,469748,...,703228,135459,469748,703228,136736,469748,703228,138004,469748,703228
198,Yemen,https://flagcdn.com/48x36/ye.png,2101,10127,11945,2101,10130,11945,2101,10138,...,11945,2096,10125,11945,2097,10126,11945,2099,10126,11945
199,Zambia,https://flagcdn.com/48x36/zm.png,20997,257948,334629,21230,259677,334661,21582,261221,...,334196,20177,243638,334294,20462,249193,334425,20725,254274,334425
200,Zimbabwe,https://flagcdn.com/48x36/zw.png,14084,214214,259981,14491,214214,259981,15265,216087,...,259981,13325,207548,259981,13625,211728,259981,13867,213258,259981

In [24]:
cols[1] = 'Country_Flag'

In [25]:
final_data.columns = cols
final_data.head()

,Country_Region,Country_Flag,1/01/2021,1/01/2022,1/01/2023,1/02/2021,1/02/2022,1/02/2023,1/03/2021,1/03/2022,...,12/28/2022,12/29/2020,12/29/2021,12/29/2022,12/30/2020,12/30/2021,12/30/2022,12/31/2020,12/31/2021,12/31/2022
0,Afghanistan,https://flagcdn.com/48x36/af.png,52513,158107,207616,52586,158189,207627,52709,158183,...,207493,52147,158037,207511,52330,158056,207550,52330,158084,207559
1,Albania,https://flagcdn.com/48x36/al.png,58316,210224,333811,58991,210885,333812,59438,210885,...,333776,57146,208899,333776,57727,208899,333806,58316,210224,333806
2,Algeria,https://flagcdn.com/48x36/dz.png,99897,218818,271229,100159,219159,271229,100408,219532,...,271208,98988,217647,271217,99311,218037,271223,99610,218432,271228
3,Andorra,https://flagcdn.com/48x36/ad.png,8117,23740,47751,8166,23740,47751,8192,24502,...,47751,7919,22823,47751,7983,23122,47751,8049,23740,47751
4,Angola,https://flagcdn.com/48x36/ao.png,17568,82398,105095,17608,82920,105095,17642,83764,...,105095,17371,78475,105095,17433,79871,105095,17553,81593,105095

### csv파일 저장

In [26]:
final_data.to_csv('ex_datafile/COVID-19-master/final_covid_data_for_graph.csv')